<div class="container">
  <div class="row">
    <div class="col-md-12 ">
      <h1><strong>{{"societyRegistraionDetails.title" | translate}}</strong></h1>
      <img src="assets/images/SocietyReg2.jpg" class="img-fluid sRegimg" width="1248" height="400"
        alt="Society Registraion">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 ">
      {{"societyRegistraionDetails.description" | translate}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3 class="RegProcess">{{"societyRegistraionDetails.regProcess.title" | translate}} :</h3>
      <ol type="A">
        <li>
          <dl>
            <dt>
              {{"societyRegistraionDetails.regProcess.regProcesses.proc1.title" | translate}}
            </dt>
            <dd>
              {{"societyRegistraionDetails.regProcess.regProcesses.proc1.desc" | translate}}
            </dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>
              {{"societyRegistraionDetails.regProcess.regProcesses.proc2.title" | translate}}
            </dt>
            <dd>
              {{"societyRegistraionDetails.regProcess.regProcesses.proc2.desc" | translate}}
            </dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>
              {{"societyRegistraionDetails.regProcess.regProcesses.proc3.title" | translate}}
            </dt>
            <dd>
              {{"societyRegistraionDetails.regProcess.regProcesses.proc3.desc" | translate}}
            </dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>
              {{"societyRegistraionDetails.regProcess.regProcesses.proc4.title" | translate}}
            </dt>
            <dd>
              {{"societyRegistraionDetails.regProcess.regProcesses.proc4.desc" | translate}}
            </dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>
              {{"societyRegistraionDetails.regProcess.regProcesses.proc5.title" | translate}}
            </dt>
            <dd>
              {{"societyRegistraionDetails.regProcess.regProcesses.proc5.desc" | translate}}
            </dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>
              {{"societyRegistraionDetails.regProcess.regProcesses.proc6.title" | translate}}
            </dt>
            <dd>
              {{"societyRegistraionDetails.regProcess.regProcesses.proc6.desc" | translate}}
            </dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>
              <strong>{{"societyRegistraionDetails.regProcess.regProcesses.proc7.title" | translate}}</strong>
              <br>
            </dt>
            <dd>
              <h6><b>{{"societyRegistraionDetails.regProcess.RegDocsRequired.title" | translate}}</b> :</h6>
              <ol type="1">
                <li>
                  {{"societyRegistraionDetails.regProcess.RegDocsRequired.docsList.doc1" | translate}}
                </li>
                <li>
                  {{"societyRegistraionDetails.regProcess.RegDocsRequired.docsList.doc2" | translate}}
                </li>
                <li>
                  {{"societyRegistraionDetails.regProcess.RegDocsRequired.docsList.doc3" | translate}}
                </li>
                <li>
                  {{"societyRegistraionDetails.regProcess.RegDocsRequired.docsList.doc4" | translate}}
                </li>
                <li>
                  {{"societyRegistraionDetails.regProcess.RegDocsRequired.docsList.doc5" | translate}}
                </li>
                <li>
                  {{"societyRegistraionDetails.regProcess.RegDocsRequired.docsList.doc6" | translate}}
                </li>
                <li>
                  {{"societyRegistraionDetails.regProcess.RegDocsRequired.docsList.doc7" | translate}}
                </li>
                <li>
                  {{"societyRegistraionDetails.regProcess.RegDocsRequired.docsList.doc8" | translate}}
                </li>
                <li>
                  {{"societyRegistraionDetails.regProcess.RegDocsRequired.docsList.doc9" | translate}}
                </li>
                <li>
                  {{"societyRegistraionDetails.regProcess.RegDocsRequired.docsList.doc10" | translate}}
                </li>
                <li>
                  {{"societyRegistraionDetails.regProcess.RegDocsRequired.docsList.doc11" | translate}}
                </li>
                <li>
                  {{"societyRegistraionDetails.regProcess.RegDocsRequired.docsList.doc12" | translate}}
                </li>
                <li>
                  {{"societyRegistraionDetails.regProcess.RegDocsRequired.docsList.doc13" | translate}}
                </li>
                <li>
                  {{"societyRegistraionDetails.regProcess.RegDocsRequired.docsList.doc14" | translate}}
                </li>
                <li>
                  {{"societyRegistraionDetails.regProcess.RegDocsRequired.docsList.doc15" | translate}}
                </li>
              </ol>
            </dd>
          </dl>
        </li>
        <li>
          <dl>
            <dt>
              {{"societyRegistraionDetails.regProcess.regProcesses.proc8.title" | translate}}
            </dt>
            <dd>
              {{"societyRegistraionDetails.regProcess.regProcesses.proc8.desc" | translate}}
            </dd>
          </dl>
        </li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 finlWord">
      <strong>
        <b>
          {{"societyRegistraionDetails.finalWords" | translate}}
        </b>
      </strong>
    </div>
  </div>