<!-- <nav class="text-center fixed-bottom navbar-light bg-dark">
  <div class="container-fluid footer_bottom">
    <p>Copyright &#169; 2021. All right reserved.</p>
  </div>
</nav> -->
<!-- <div id="footer">
  <div class="container text-center fixed-bottom navbar-light bg-dark">
    <p class="text-muted credit" style="color:#fff">xyz</p>
  </div>
</div> -->



<!-- <footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <span class="text-muted">Place sticky footer content here.</span>
  </div>
</footer> -->
<!--
<nav class="text-center navbar-light bg-dark ">
  <div class="footer_bottom ">
    <div class="row justify-content-center footerContent">
      <div class="col-sm-4 col-md-3 item">
        <h3 class="footerTitle ftrServices">{{'footerDetails.OurServices.title' | translate}}</h3>
        <ul>
          <li class="nav-item"><a class="nav-link"
              [routerLink]="['/ourWork/society-registration']">{{'footerDetails.OurServices.SocietyRegistration' |
              translate}}</a></li>
          <li class="nav-item"><a class="nav-link"
              [routerLink]="['/ourWork/conveyancedeed-and-deemedconveyance']">{{'footerDetails.OurServices.ConveyanceDeedandDeemedConveyance'
              | translate}}</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-4 col-md-3 item innerFotContnt">
        <h3 class="footerTitle">{{'contactDetails.contactUs.AddressDetails.addressTitle' | translate}}</h3>
        <i class="fas fa-map-marker-alt fa-2x"></i>
        {{'contactDetails.contactUs.AddressDetails.address' | translate}}
      </div>
      <div class="col-sm-4 col-md-3 item innerFotContnt">
        <h3 class="footerTitle">{{'contactDetails.contactUs.contactUsTitle' | translate}}</h3>
        {{'contactDetails.contactUs.contactPersonDetails.contactPerson1.person1_Name' | translate}} :-
        {{'contactDetails.contactUs.contactPersonDetails.contactPerson1.person1_ContactNo1' | translate}} ,
        {{'contactDetails.contactUs.contactPersonDetails.contactPerson1.person1_ContactNo2' | translate}}
      </div>
      <div class="text-center ftrCopyRight">Copyright &#169; 2021. All right reserved.</div>
    </div>
  </div>
</nav> -->

<!-- <div class="footer-clean">
  <footer>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-4 col-md-3 item">
          <h3>Services</h3>
          <ul>
            <li><a href="#">Web design</a></li>
            <li><a href="#">Development</a></li>
            <li><a href="#">Hosting</a></li>
          </ul>
        </div>
        <div class="col-sm-4 col-md-3 item">
          <h3>About</h3>
          <ul>
            <li><a href="#">Company</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Legacy</a></li>
          </ul>
        </div>
        <div class="col-sm-4 col-md-3 item">
          <h3>Careers</h3>
          <ul>
            <li><a href="#">Job openings</a></li>
            <li><a href="#">Employee success</a></li>
            <li><a href="#">Benefits</a></li>
          </ul>
        </div>
        <div class="col-lg-3 item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i
              class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a
            href="#"><i class="icon ion-social-instagram"></i></a>
          <p class="copyright">Company Name © 2018</p>
        </div>
      </div>
    </div>
  </footer>
</div> -->


<!-- <footer class="footer">
  <div class="container">
    <span class="text-muted">Place sticky footer content here.</span>
  </div>
</footer> -->

<!--
<div class="footer footerSticky">
  <footer class="text-center py-1">
    <nav class="footercontent">
      <div class="row  justify-content-center ">
        <div class="col-sm-4 col-md-3 item">
          <h3 class="footerTitle ftrServices">{{'footerDetails.OurServices.title' | translate}}</h3>
          <ul>
            <li class="nav-item"><a class="nav-link"
                [routerLink]="['/ourWork/society-registration']">{{'footerDetails.OurServices.SocietyRegistration' |
                translate}}</a></li>
            <li class="nav-item"><a class="nav-link"
                [routerLink]="['/ourWork/conveyancedeed-and-deemedconveyance']">{{'footerDetails.OurServices.ConveyanceDeedandDeemedConveyance'
                | translate}}</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-4 col-md-3 item innerFotContnt">
          <h3 class="footerTitle">{{'contactDetails.contactUs.AddressDetails.addressTitle' | translate}}</h3>
          <i class="fas fa-map-marker-alt fa-2x"></i>
          {{'contactDetails.contactUs.AddressDetails.address' | translate}}
        </div>
        <div class="col-sm-4 col-md-3 item innerFotContnt">
          <h3 class="footerTitle">{{'contactDetails.contactUs.contactUsTitle' | translate}}</h3>
          {{'contactDetails.contactUs.contactPersonDetails.contactPerson1.person1_Name' | translate}} :-
          {{'contactDetails.contactUs.contactPersonDetails.contactPerson1.person1_ContactNo1' | translate}} ,
          {{'contactDetails.contactUs.contactPersonDetails.contactPerson1.person1_ContactNo2' | translate}}
        </div>

      </div>
    </nav>
    <span class="text-muted">Copyright &#169; 2021. All right reserved.</span>
  </footer>
</div> -->


<div class="container-fluid footer_bottom footerSticky">
  <div class="row">

  </div>
  <div class="row justify-content-center footerContent">
    <div class="col-sm-4 col-md-3 item">
      <h3 class="footerTitle ftrServices">{{'footerDetails.OurServices.title' | translate}}</h3>
      <div class="servicesList">
        <ul>
          <li class="nav-item"><a class="nav-link"
              [routerLink]="['/ourWork/society-registration']">{{'footerDetails.OurServices.SocietyRegistration' |
              translate}}</a></li>
          <li class="nav-item"><a class="nav-link"
              [routerLink]="['/ourWork/conveyancedeed']">{{'footerDetails.OurServices.ConveyanceDeed'
              | translate}}</a>
          </li>
          <li class="nav-item"><a class="nav-link"
              [routerLink]="['/ourWork/deemedconveyance']">{{'footerDetails.OurServices.DeemedConveyance'
              | translate}}</a>
          </li>
          <li class="nav-item"><a class="nav-link"
              [routerLink]="['/ourWork/redevelopment']">{{'footerDetails.OurServices.Redevelopment'
              | translate}}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-4 col-md-3 item innerFotContnt">
      <h3 class="footerTitle" [ngClass]="{addrsTitle : service.isMobileDevice}">
        {{'contactDetails.contactUs.AddressDetails.addressTitle' | translate}}</h3>
      <span>
        <a target="_blank" style="text-decoration: none;cursor: pointer;color: #fff;"
          href="https://www.google.com/maps/dir//megha+enterprises+ambernath/@19.1961201,73.1977344,18z/data=!4m7!4m6!1m1!4e2!1m2!1m1!1s0x3be7930c083fcdc9:0x4ca87a047967cb82!3e0">
          <span [ngClass]="{addrs : service.isMobileDevice}"><i class="fas fa-map-marker-alt fa-2x"></i>
            {{'contactDetails.contactUs.AddressDetails.address' | translate}}</span>
        </a>
      </span>
      <!-- <span [ngClass]="{addrs : service.isMobileDevice}"><i class="fas fa-map-marker-alt fa-2x"></i>
        {{'contactDetails.contactUs.AddressDetails.address' | translate}}</span> -->
    </div>
    <div class="col-sm-4 col-md-3 item innerFotContnt">
      <h3 class="footerTitle" [ngClass]="{contactTitle : service.isMobileDevice}">
        {{'contactDetails.contactUs.contactUsTitle' | translate}}</h3>
      <br>
      <span
        [ngClass]="{contactDtls : service.isMobileDevice}"><b>{{'contactDetails.contactUs.contactPersonDetails.contactPerson1.person1_Name'
          |
          translate}} </b>
        <br>
        <span>
          {{'contactDetails.contactUs.contactPersonDetails.contactPerson1.person1_ContactNo1' | translate}} , <br />
          {{'contactDetails.contactUs.contactPersonDetails.contactPerson1.person1_ContactNo2' | translate}}
        </span>
      </span>

      <br>
      <p></p>
      <span
        [ngClass]="{contactDtls : service.isMobileDevice}"><b>{{'contactDetails.contactUs.contactPersonDetails.contactPerson2.person2_Name'
          |
          translate}} </b>
        <br>
        {{'contactDetails.contactUs.contactPersonDetails.contactPerson2.person2_ContactNo1' | translate}}
      </span>

      <br>
      <p></p>
      <span
        [ngClass]="{contactDtls : service.isMobileDevice}"><b>{{'contactDetails.contactUs.contactPersonDetails.contactPerson3.person3_Name'
          |
          translate}} </b>
        <br>
        {{'contactDetails.contactUs.contactPersonDetails.contactPerson3.person3_ContactNo1' | translate}}
      </span>

      <br><br>

      <h5 class="footerTitle" [ngClass]="{contactTitle : service.isMobileDevice}">
        {{'contactDetails.contactUs.OfficeContact.title' | translate}} </h5>
      <span>
        {{'contactDetails.contactUs.OfficeContact.contactOfficePersonDetails.ContactNo1' | translate}} , <br />
        {{'contactDetails.contactUs.OfficeContact.contactOfficePersonDetails.ContactNo2' | translate}}, <br>
        {{'contactDetails.contactUs.OfficeContact.contactOfficePersonDetails.ContactNo3' | translate}}
      </span>
      <span>
        <br><br>
        <strong>
          <!-- <i class="bi bi-envelope-open icn"></i> -->
          <!-- <i-bs name="envelope-open" width="30" height="35"></i-bs> -->
          <i class="fas fa-envelope-open fa-2x"></i>
          {{'contactDetails.contactUs.EmailIDDetails.emailIDTitle' | translate}}:
        </strong><br>
        megha@meghaenterprises.com
      </span>
    </div>

    <div class="text-center ftrCopyRight">Copyright &#169; 2021. All right reserved.</div>
  </div>
</div>