<div class="container gridcontainer ">
  <div class="row">
    <h1><strong>{{"redevelopmentDetails.title" | translate}}</strong></h1>
  </div>
  <div class="row grid-row">

    <div class="col-md-5 col-xs-12">
      <h1><strong></strong></h1>
      <img src="./assets/images/Redevelopment.jpg" class="img-fluid sRegimg" width="1248" height="400"
        alt="Redevelopment">
    </div>
    <div class="col-md-7 col-xs-12">

      <p>{{"redevelopmentDetails.description.descr1" | translate}}</p>
      <p>{{"redevelopmentDetails.description.descr2" | translate}}
      </p>
      <p>{{"redevelopmentDetails.description.descr3" | translate}}</p>
      <h3>
        {{"redevelopmentDetails.selfRedevlpment.title" | translate}}</h3>
      <p>
        {{"redevelopmentDetails.selfRedevlpment.description.descr1" | translate}}
        <br> <span>{{"redevelopmentDetails.selfRedevlpment.description.descr2" | translate}}</span>
      </p>
      <p>
        {{"redevelopmentDetails.selfRedevlpment.description.descr3" | translate}}
        <br>
        <span>
          {{"redevelopmentDetails.selfRedevlpment.description.descr4" | translate}}
        </span>
      </p>
    </div>
  </div>
  <div class="row">
    <h3> {{"redevelopmentDetails.benefitOfRedvlmnt.title" | translate}}</h3>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ol>
        <li> {{"redevelopmentDetails.benefitOfRedvlmnt.benefits.benefit1" | translate}}
        </li>
        <li> {{"redevelopmentDetails.benefitOfRedvlmnt.benefits.benefit2" | translate}}
        </li>
        <li> {{"redevelopmentDetails.benefitOfRedvlmnt.benefits.benefit3" | translate}}
        </li>
        <li> {{"redevelopmentDetails.benefitOfRedvlmnt.benefits.benefit4" | translate}}
        </li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
      <h4>{{"redevelopmentDetails.DocsRequired.title" | translate}}</h4>
      <ol type="1">
        <li> {{"redevelopmentDetails.DocsRequired.docsList.doc1" | translate}} </li>
        <li> {{"redevelopmentDetails.DocsRequired.docsList.doc2" | translate}} </li>
        <li> {{"redevelopmentDetails.DocsRequired.docsList.doc3" | translate}} </li>
        <li> {{"redevelopmentDetails.DocsRequired.docsList.doc4" | translate}} </li>
        <li> {{"redevelopmentDetails.DocsRequired.docsList.doc5" | translate}} </li>
        <li> {{"redevelopmentDetails.DocsRequired.docsList.doc6" | translate}} </li>
        <li> {{"redevelopmentDetails.DocsRequired.docsList.doc7" | translate}} </li>
        <li> {{"redevelopmentDetails.DocsRequired.docsList.doc8" | translate}} </li>
        <li> {{"redevelopmentDetails.DocsRequired.docsList.doc9" | translate}} </li>
        <li> {{"redevelopmentDetails.DocsRequired.docsList.doc10" | translate}} </li>
        <li> {{"redevelopmentDetails.DocsRequired.docsList.doc11" | translate}} </li>
        <li> {{"redevelopmentDetails.DocsRequired.docsList.doc12" | translate}} </li>
        <li> {{"redevelopmentDetails.DocsRequired.docsList.doc13" | translate}} </li>
      </ol>
    </div>
  </div>
</div>