<!-- <div class="container">
  <h1>About Us</h1>
  <div class="row">
    <div class="col-md-10">
      <h4>Welcome to Megha Enterprises</h4>
      MeghaEnterprises's aim to resolve all your legal problems/Queries related to Housing Societies.
      We guide and help on different services like Society Registrations, Conveyance Deed, Deemed Conveyance,
      Re-development, Society formation etc.
    </div>
  </div>
  <div class="row whyChsUs">
    <h4>Why Choose us</h4>
  </div>
  <div class="row">
    <div class="col-sm-5">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">EFFICIENCY</h5>
          <p class="card-text">We help our customers to solve thier problems/Queries related to Housing Society with
            minimum of time and effort.</p>

        </div>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">RESPONSIBILITY </h5>
          <p class="card-text">We aim to bring social harmony to all associates through our efforts, which we consider
            our very first responsibility.</p>

        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">TRANSPARENCY</h5>
          <p class="card-text">We provide all the information with clarity. We believe that a crystal clear system helps
            grow trust and faith for a healthy relationship.</p>

        </div>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Quality</h5>
          <p class="card-text">We believe in providing Quality services.</p>

        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="container">
  <h1>{{ "aboutDetails.title" | translate }}</h1>
  <div class="row">
    <div class="col-md-10">
      <h4>{{ "aboutDetails.welcomeTitle" | translate }}</h4>
      <div class="abtFirstDesc">
        {{ "aboutDetails.welcomeDescription" | translate }}
      </div>
    </div>
  </div>
  <div class="row whyChsUs">
    <h4>{{ "aboutDetails.whyChooseUs.title" | translate }}</h4>
  </div>
  <div class="row">
    <div class="col-sm-5">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title"><strong>{{ "aboutDetails.whyChooseUs.EFFICIENCY.title" | translate }} </strong></h5>
          <p class="card-text">{{ "aboutDetails.whyChooseUs.EFFICIENCY.descriptions" | translate }}</p>

        </div>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title"><strong>{{ "aboutDetails.whyChooseUs.RESPONSIBILITY.title" | translate }} </strong>
          </h5>
          <p class="card-text">{{ "aboutDetails.whyChooseUs.RESPONSIBILITY.descriptions" | translate }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title"><strong>{{ "aboutDetails.whyChooseUs.TRANSPARENCY.title" | translate }} </strong></h5>
          <p class="card-text">{{ "aboutDetails.whyChooseUs.TRANSPARENCY.descriptions" | translate }}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title"><strong>{{ "aboutDetails.whyChooseUs.Quality.title" | translate }} </strong></h5>
          <p class="card-text">{{ "aboutDetails.whyChooseUs.Quality.descriptions" | translate }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
