<div class="container">
  <!-- <div class="row cnvTitle">
    <div class="col-md-12 ">
      <h1><strong> {{"ConveyanceDeedAndDeemedConveyance.title" | translate}} </strong></h1>

    </div>
  </div> -->
  <div class="row cnvTitle">
    <div class="col-md-12 ">
      <h1> {{"ConveyanceDeedAndDeemedConveyance.ConveyanceDeedDetails.title" | translate}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>{{"ConveyanceDeedAndDeemedConveyance.ConveyanceDeedDetails.descr1" | translate}}
      </p>
      <p>{{"ConveyanceDeedAndDeemedConveyance.ConveyanceDeedDetails.descr2" | translate}}
      <p>{{"ConveyanceDeedAndDeemedConveyance.ConveyanceDeedDetails.descr3" | translate}}
      <p>{{"ConveyanceDeedAndDeemedConveyance.ConveyanceDeedDetails.descr4" | translate}}
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 finlWord">
      <b>
        {{"ConveyanceDeedAndDeemedConveyance.finalWords" | translate}}
      </b>
    </div>
  </div>
</div>
