<div class="container">
  <div class="row mapRow">
    <!-- <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7537.122663670332!2d72.93180012630144!3d19.170669898134385!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b8450c704c31%3A0xf018cbb73bcb510!2sSri%20Guru%20Amardas%20Sachkhand%20Darbar!5e0!3m2!1sen!2sin!4v1626292353975!5m2!1sen!2sin"
      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy">
    </iframe> -->
    <!-- <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.957671485695!2d72.8769648152962!3d19.065598587093877!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c8944b000767%3A0x2a39647e99d46af!2sKurla%20Station!5e0!3m2!1sen!2sin!4v1626295292987!5m2!1sen!2sin"
      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe> -->

    <!-- <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3767.9908157663594!2d73.19839211490297!3d19.1956034870194!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTnCsDExJzQ0LjIiTiA3M8KwMTInMDIuMSJF!5e0!3m2!1sen!2sin!4v1626626353561!5m2!1sen!2sin"
      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe> -->

    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d470.9990479780483!2d73.200777!3d19.195535!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4ca87a047967cb82!2sMegha%20Enterprises!5e0!3m2!1sen!2sin!4v1659947364117!5m2!1sen!2sin"
      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>

    <!-- <div class="mapouter">
      <div class="gmap_canvas">
        <iframe class="gmap_iframe" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" allowfullscreen=""
          src="https://maps.google.com/maps?width=800&amp;height=500&amp;hl=en&amp;q= Guru Gobind Singh Marg, Moti Nagar, Mulund Colony, Mulund West, Mumbai, Maharashtra 400082&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
        </iframe>
      </div>

    </div> -->

  </div>
  <div class="row">
    <div class="col-md-7 ">
      <h1>{{'contactDetails.contactUs.contactUsTitle' | translate}}</h1>
      <p><strong>
          <!-- <i class="bi bi-phone icn"></i>  -->
          <!-- <i-bs name="telephone" width="30" height="35"></i-bs> -->
          <i class="fas fa-phone-alt fa-2x"></i>
          {{'contactDetails.contactUs.contactPersonDetails.ContactPersonTitle' | translate}}
        </strong><br>
        <!-- Gajanan Patil - +91 9049462000, <br>Mr. PQR XYZ - +919320175175 -->
        {{'contactDetails.contactUs.contactPersonDetails.contactPerson1.person1_Name' | translate}} :-
        {{'contactDetails.contactUs.contactPersonDetails.contactPerson1.person1_ContactNo1' | translate}} ,
        {{'contactDetails.contactUs.contactPersonDetails.contactPerson1.person1_ContactNo2' | translate}}
        <br>
        <span>{{'contactDetails.contactUs.contactPersonDetails.contactPerson2.person2_Name'
          |
          translate}} :-
          {{'contactDetails.contactUs.contactPersonDetails.contactPerson2.person2_ContactNo1' | translate}}
        </span>
        <br><br>
        <strong><i class="fas fa-tty fa-2x"></i>
          {{'contactDetails.contactUs.OfficeContact.title' | translate}} </strong>
        <br>
        <span>
          {{'contactDetails.contactUs.OfficeContact.contactOfficePersonDetails.ContactNo1' | translate}} , <br />
          {{'contactDetails.contactUs.OfficeContact.contactOfficePersonDetails.ContactNo2' | translate}}, <br>
          {{'contactDetails.contactUs.OfficeContact.contactOfficePersonDetails.ContactNo3' | translate}}
        </span>
        <br><br>
        <strong>
          <!-- <i class="bi bi-pin-map icn"></i> -->
          <!-- <i-bs name="pin-map" width="30" height="35"></i-bs> -->
          <!-- <img src="/assets/map-withoutbackgroud_1.png/" height="40" width="35" alt=""> -->

          <i class="fas fa-map-marker-alt fa-2x"></i>
          {{'contactDetails.contactUs.AddressDetails.addressTitle' | translate}}
          <span>
            <a target="_blank" style="text-decoration: none;cursor: pointer;"
              href="https://www.google.com/maps/dir//megha+enterprises+ambernath/@19.1961201,73.1977344,18z/data=!4m7!4m6!1m1!4e2!1m2!1m1!1s0x3be7930c083fcdc9:0x4ca87a047967cb82!3e0">
              {{'contactDetails.contactUs.AddressDetails.viewOnMap' | translate}}
              <strong><i class="fas fa-walking fa-2x"></i></strong>
            </a>
          </span>
        </strong><br>
        <!-- Plot No : 86/1/B, Opp. Old Mardia Steel Factory, Nr. Kisan Brother Weigh Bridge, Phase - 1, Vatva G.I.D.C,
        Ahmedabad-382445. -->
        {{'contactDetails.contactUs.AddressDetails.address' | translate}}
        <br><br>
        <strong>
          <!-- <i class="bi bi-envelope-open icn"></i> -->
          <!-- <i-bs name="envelope-open" width="30" height="35"></i-bs> -->
          <i class="fas fa-envelope-open fa-2x"></i>
          {{'contactDetails.contactUs.EmailIDDetails.emailIDTitle' | translate}}:
        </strong><br>
        megha@meghaenterprises.com
        <br><br>
        <strong>
          <i class="fas fa-globe fa-2x"></i> {{'contactDetails.contactUs.WebSites.webSiteTitle' | translate}}:
        </strong><br>
        www.meghaenterprises.com
      </p>
      <div class="clearfix"></div>
    </div>
    <!-- <div class="col-md-5"><img src="http://decorasales.com/images/contact_image.png"></div> -->
    <!-- <div class="col-md-5"><img height="500" width="400" src="https://cdn.pixabay.com/photo/2014/08/05/10/30/iphone-410324_960_720.jpg"></div> -->
    <!-- <div class="col-md-4"><img height="580" width="500"
        src="https://cdn.pixabay.com/photo/2017/10/17/10/03/contact-2860030_960_720.jpg"></div> -->
  </div>
</div>
