<!-- <a href="https://api.whatsapp.com/send?phone=9779863336934" class="float" target="_blank" placement="right"
  ngbTooltip="Message us"
  >
  <span>
    <i class="fab fa-whatsapp my-float"></i>
  </span></a> -->

<!-- <a href="https://api.whatsapp.com/send?phone=9779863336934" class="float" target="_blank" placement="top"
  title="Message us">
  <span>
    <i class="fab fa-whatsapp my-float"></i>
  </span></a> -->
<!--
<a href="https://api.whatsapp.com/send?phone=9779863336934" class="float" target="_blank" placement="top"
  data-title="Message us">
  <span>
    <i class="fab fa-whatsapp my-float"></i>
  </span></a> -->

<a href="https://api.whatsapp.com/send?phone=919049462000" class="float" target="_blank" placement="top"
  attr.data-title="{{'connectus.toolTip' | translate}}">
  <span>
    <i class="fab fa-whatsapp my-float"></i>
  </span></a>
<!--
  <a href="https://api.whatsapp.com/send?phone=9779863336934" target="_blank"><span
    style="font-size: 20px; color: rgb(30, 255, 79);">
    <i class="fab fa-whatsapp-square fa-2x"></i>
  </span></a> -->
