<!-- <app-navbar></app-navbar>
<p>test</p>

<button class="btn btn-primary">Click</button>

<router-outlet></router-outlet> -->

<div class="container">
  <div class="row appNav bottomMrgn">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <app-navbar></app-navbar>
    </div>
  </div>
  <!--
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <p>test</p>

      <button class="btn btn-primary">Click</button>
    </div>
  </div> -->

  <div class="row appfooter">
    <router-outlet></router-outlet>
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!-- <router-outlet></router-outlet> -->

    </div>
  </div>
  <div class="row">
    <app-connectus></app-connectus>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!-- <app-footer></app-footer> -->
    </div>

  </div>
</div>
<div>
  <app-footer></app-footer>
</div>
