<div class="container">

  <div class="row cnvTitle">
    <div class="col-md-12 ">
      <h1><b>{{"ConveyanceDeedAndDeemedConveyance.DeemedConveyanceDetails.title" | translate}}</b></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">

      <p>{{"ConveyanceDeedAndDeemedConveyance.DeemedConveyanceDetails.descr1" | translate}}</p>
      <p>{{"ConveyanceDeedAndDeemedConveyance.DeemedConveyanceDetails.descr2" | translate}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p></p>
      <h4>{{"ConveyanceDeedAndDeemedConveyance.DeemedConveyanceDetails.advantages.title" | translate}}</h4>
      <p></p>
      <div>
        <ul>
          <li>
            {{"ConveyanceDeedAndDeemedConveyance.DeemedConveyanceDetails.advantages.advtngs.adv1" | translate}}
          </li>
          <li>
            {{"ConveyanceDeedAndDeemedConveyance.DeemedConveyanceDetails.advantages.advtngs.adv2" | translate}}
          </li>
          <li>
            {{"ConveyanceDeedAndDeemedConveyance.DeemedConveyanceDetails.advantages.advtngs.adv3" | translate}}
          </li>
          <li>
            {{"ConveyanceDeedAndDeemedConveyance.DeemedConveyanceDetails.advantages.advtngs.adv4" | translate}}
          </li>
          <li>
            {{"ConveyanceDeedAndDeemedConveyance.DeemedConveyanceDetails.advantages.advtngs.adv5" | translate}}
          </li>
          <li>
            {{"ConveyanceDeedAndDeemedConveyance.DeemedConveyanceDetails.advantages.advtngs.adv6" | translate}}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
      <h4>{{"ConveyanceDeedAndDeemedConveyance.DeemedConveyanceDetails.RegDocsRequired.title" | translate}}</h4>
      <ol type="1">
        <li>
          {{"ConveyanceDeedAndDeemedConveyance.DeemedConveyanceDetails.RegDocsRequired.docsList.doc1" | translate}}
        </li>
        <li>
          {{"ConveyanceDeedAndDeemedConveyance.DeemedConveyanceDetails.RegDocsRequired.docsList.doc2" | translate}}
        </li>
        <li>
          {{"ConveyanceDeedAndDeemedConveyance.DeemedConveyanceDetails.RegDocsRequired.docsList.doc3" | translate}}
        </li>
        <li>
          {{"ConveyanceDeedAndDeemedConveyance.DeemedConveyanceDetails.RegDocsRequired.docsList.doc4" | translate}}
        </li>
        <li>
          {{"ConveyanceDeedAndDeemedConveyance.DeemedConveyanceDetails.RegDocsRequired.docsList.doc5" | translate}}
        </li>
        <li>
          {{"ConveyanceDeedAndDeemedConveyance.DeemedConveyanceDetails.RegDocsRequired.docsList.doc6" | translate}}
        </li>
        <li>
          {{"ConveyanceDeedAndDeemedConveyance.DeemedConveyanceDetails.RegDocsRequired.docsList.doc7" | translate}}
        </li>
        <li>
          {{"ConveyanceDeedAndDeemedConveyance.DeemedConveyanceDetails.RegDocsRequired.docsList.doc8" | translate}}
        </li>
        <li>
          {{"ConveyanceDeedAndDeemedConveyance.DeemedConveyanceDetails.RegDocsRequired.docsList.doc9" | translate}}
        </li>
        <li>
          {{"ConveyanceDeedAndDeemedConveyance.DeemedConveyanceDetails.RegDocsRequired.docsList.doc10" | translate}}
        </li>
        <!-- <li>
          {{"ConveyanceDeedAndDeemedConveyance.DeemedConveyanceDetails.RegDocsRequired.docsList.doc11" | translate}}
        </li> -->
        <li>
          {{"ConveyanceDeedAndDeemedConveyance.DeemedConveyanceDetails.RegDocsRequired.docsList.doc12" | translate}}
        </li>
        <li>
          {{"ConveyanceDeedAndDeemedConveyance.DeemedConveyanceDetails.RegDocsRequired.docsList.doc13" | translate}}
        </li>
        <li>
          {{"ConveyanceDeedAndDeemedConveyance.DeemedConveyanceDetails.RegDocsRequired.docsList.doc14" | translate}}
        </li>
        <li>
          {{"ConveyanceDeedAndDeemedConveyance.DeemedConveyanceDetails.RegDocsRequired.docsList.doc15" | translate}}
        </li>
        <li>
          {{"ConveyanceDeedAndDeemedConveyance.DeemedConveyanceDetails.RegDocsRequired.docsList.doc16" | translate}}
        </li>
        <li>
          {{"ConveyanceDeedAndDeemedConveyance.DeemedConveyanceDetails.RegDocsRequired.docsList.doc17" | translate}}
        </li>
        <li>
          {{"ConveyanceDeedAndDeemedConveyance.DeemedConveyanceDetails.RegDocsRequired.docsList.doc18" | translate}}
        </li>
        <li>
          {{"ConveyanceDeedAndDeemedConveyance.DeemedConveyanceDetails.RegDocsRequired.docsList.doc19" | translate}}
        </li>
        <li>
          {{"ConveyanceDeedAndDeemedConveyance.DeemedConveyanceDetails.RegDocsRequired.docsList.doc20" | translate}}
        </li>
        <li>
          {{"ConveyanceDeedAndDeemedConveyance.DeemedConveyanceDetails.RegDocsRequired.docsList.doc21" | translate}}
        </li>
      </ol>
    </div>
  </div>
</div>
